{# empty Twig template #}
{% extends "structure/base.html.twig" %}


{% block  metahead  %}
<META http-equiv="refresh" content="10;URL={{ urlFor('list') }}">
{% endblock %}

{% block content %}
    <div class="divAlignCenter listPage">
        {% if flash.quoteError is not empty %}
            <p class="error">{{ flash.quoteError  }}</p>
        {% endif %}

        <h2><b style="color:#E92F32">HK</b> - Below is Pushed Result</h2>
        <ul>
            {% for email in emailArray %}
            <li>{{ email.email }} 
                {% if email.rePush == 1 %}
                    / <span class="error">Can not re-push</span>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        
        <p><a href=" {{ urlFor('list') }} ">Click Here to go Back</a></p>
        <p style="text-align:right"><a href=" {{ urlFor('list') }} ">Click Here to go Back</a></p>


    </div>
{% endblock %}
