{% extends "structure/base.html.twig" %}
{% block content %}
    <div class="divAlignCenter listPage">
        
        {% if flash.quoteError is not empty %}
            <p class="error">{{ flash.quoteError  }}</p>
        {% endif %}
        
        <header class="listHeader">
            <a href="{{ urlFor('logout') }}" class="logoutBtn">Logout</a>
            <h1>List of Quotation <span>Total : {{ numberListedQuote }} / {{ totalQuote }} @ {{ lastUpdateDateTime }}</span></h1>
        </header>
        
        <form action="{{ urlFor('pass') }}" method="POST">
        <table cellpadding="0" cellspacing="0" border="0" class="listTable">
        {% for quote in quoteAr %}
            
                <tr>
                    <td class="listTdTitle"><input type="hidden" name="quote[{{ quote.ormObjFromLocal.id }}][id]" value="{{ quote.ormObjFromLocal.id }}">Name : </td>
                    <td>{{ quote.ormObjFromLocal.name }}</td>
                    <td class="listTdTitle">Email : </td>
                    <td>{{ quote.ormObjFromLocal.email }}</td>
                    <td class="listTdTitle">Tel :</td>
                    <td>{{ quote.ormObjFromLocal.contactno }}</td>
                    <td class="listTdTitle">Age : </td>
                    <td>{{ quote.ormObjFromLocal.age }}</td>
                    <td class="listTdTitle">Driving Exp.:</td>
                    <td>{{ quote.ormObjFromLocal.drivingExp |raw }}</td>
                    <td>
                        <select name="quote[{{ quote.ormObjFromLocal.id }}][sale]">{% include 'chunk/salesSelectOption.html.twig' %}</select> 
                    </td>
                    <td><input type="submit" name="pass[{{ quote.ormObjFromLocal.id }}]" value="pass"></td>
                </tr>
                <tr>
                    <td class="listTdTitle">Insurance Type:</td>
                    <td>{{ quote.ormObjFromLocal.insuranceType }}</td>
                    <td class="listTdTitle">NCD:</td>
                    <td>{{ quote.ormObjFromLocal.ncd }}</td>
                    <td class="listTdTitle">Make :</td>
                    <td>{{ quote.ormObjFromLocal.carMake }}</td>
                    <td class="listTdTitle">Model :</td>
                    <td>{{ quote.ormObjFromLocal.carModel }}</td>
                    <!--<td>Referer</td>
                    <td>{{ quote.ormObjFromLocal.referer }}</td>-->
                    <td class="listTdTitle">Duplicate :</td>
                    <td>{{ quote.isDuplicate() }}</td>
                    <td><span class="listTdTitle">Lang:</span> {{ quote.langKeyMap() }}</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="12" ><hr class="listHr"></td>
                </tr>
        {% endfor %}
        </table>
        <div><input type="submit" name="pass[all]" value="Pass All" class="listPassAllBtn"></div>
        </form>
    </div>
{% endblock %}

{% block bottomJS %}
    {% include 'chunk/bottomJS.html.twig' %}
{% endblock %}